* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
  font-family: "Black Ops One", cursive;
  --backgorund: rgb(19, 20, 20);
  min-height: 100vh;
  min-width: 350px;
  padding-bottom: 2rem;

  /*   background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(234, 249, 249, 0.67) 0.1%,
    rgba(239, 249, 251, 0.63) 90.1%
  ); */

  background-image: linear-gradient(
    to top,
    rgba(207, 210, 210, 0.555) 0.1%,
    rgba(44, 182, 209, 0.436) 90.1%
  );
}

main {
  display: flex;
  text-align: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  min-height: 500px;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--backgorund);
  border-radius: 8px;
}

.image1,
.image2 {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;

  position: relative;
  z-index: 1;
}

.image1 {
  background-image: url("./images/mitad-1.png");
  border-radius: 20px 0;
}
.image2 {
  background-image: url("./images/mitad-2.png");
}
