* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
  font-family: "Black Ops One", cursive;
  --backgorund: rgba(31, 31, 30, 0.889);
}

main {
  display: flex;
  text-align: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  min-height: 500px;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--backgorund);
  border-radius: 8px;
}

.image1,
.image2 {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  width: 100%;
}
.image1 {
  background-image: url("./images/mitad-1.png");
}
.image2 {
  background-image: url("./images/mitad-2.png");
}
